.header_container {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
}

.header_left,
.header_right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.user_head {
  color: #e7e7e7;
  margin: 0px;
}
.header_left p {
  color: #e7e7e7;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 0;
}
.head {
  margin-top: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}
a {
  color: #e7e7e7;
}
.header_right ul li a {
  color: #e7e7e7;
  display: block;
  padding: 24px;
}

.header_right ul a:hover,
.header_right ul a:active,
.header_right ul a:focus {
  color: #272727;
}

.header_right ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
